html,
body {
    background-color: #244a30;
    color: #c2cfc2;
    fill: #c2cfc2;
}

div.row.hero {
    margin-bottom: 60px;
}

/* SECTIONS */
section#connecting-view {
    font-size: 0.8em;
}

section#login-view {
    color: #244a30;
    background-color: #FDF6E3;
}

section#login-view,
section#irc-view {
    padding-bottom: 96px;
}

section#login-view h2,
section#irc-view h2 {
    text-align: left;
}

section#chat-view {
    color: #244a30;
    background-color: #FDF6E3;
}

section#chat-view div#messages
{
    overflow: auto;
    height: 500px;
}

section#chat-view div.message
{
    text-align: left;
}

section#chat-view div.message span.irc-username
{
    font-weight: 600;
}

section#chat-view div.message span.irc-timestamp
{
    margin-left: 5px;
    font-size: 0.8em;
}

section#chat-view div.message p.message-text
{
    margin-top: 2px;
    margin-bottom: 18px;
    font-size: 0.8em;
}

section#chat-view div#new-message
{
    background-color: rgba(0, 0, 0, 0.04);
}

section#chat-view input {
    width: 60%;
}

section#disconnected-view {
    color: #716300;
    background-color: #ffdc79;
}

/* BUTTONS */
button.small {
    padding: 4px 12px;
}
