html,
body {
    background-color: #FDF6E3;
    color: #586E75;
    fill: #586E75;
}

div.row.hero {
    margin-bottom: 60px;
}

/* SECTIONS */
section#chat-view {
    padding-top: 80px;
    padding-bottom: 160px;
}

section#chat-view div.message
{
    text-align: left;
}

section#chat-view div.message span.irc-username
{
    font-weight: 700;
}

section#chat-view div.message span.irc-timestamp
{
    margin-left: 7px;
    font-weight: 300;
}

section#chat-view div.message p.message-text
{
    margin-top: 2px;
    margin-bottom: 18px;
    font-size: 0.8em;
}

section#new-message-bar {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-color: #EEE8D5;
}

/* SPECIAL */
span.irc-address {
    background-color: #E3E1D3;
    border: 1px solid #C8CCC2;
    border-radius: 3px;
    padding: 3px 4px;
    font-family: monospace;
}

/* INPUTS */
.flat {
    box-shadow: none !important;
    text-shadow: none !important;
    padding: 7px;
}

button.flat {
    background-color: #268BD2;
    border: 2px solid #268BD2;
    color: #FFFFFF;
    font-weight: bold;
}

input[type=text].flat {
    background-color: #FFFFFF;
    background-image: none;
    border: 2px solid #93A1A1;
    color: #9BA8AC;
    font-size: 1em;
}
